.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: grey;
  background: linear-gradient(
    135deg,
    rgba(179, 229, 252) 0%,
    rgba(179, 229, 252) 50%,
    rgba(240, 98, 152) 50%,
    rgba(240, 98, 152) 100%
  );
}
